:root {
  --primary: #3caea3 ;
  --secondary: #20639b;
  --tertiary: #173f5f;
  --light-dark: #f6d55c;
  --dark: #ed553b;
  --border-radius: 10px; 
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
  background-color: var(--primary);
  font-family: 'Comfortaa', cursive;
  color: var(--dark);
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--dark);
}

#city-search-term {
  font-size: 50px; 
  text-decoration: underline; 
}

main {
  margin: 25px auto; 
}

p {
  font-size: 18px; 
}

/* SAVE AND CLEAR BUTTONS */

.btn {
  font-size: 20px;
  text-decoration:none;
  width: 100%;
  display: block;
  margin: 5px 0; 
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px); 
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.navbar {
  background-color: var(--dark); 
  display: flex; 
  justify-content: space-evenly;
}

.app-title {
  font-size: 90px; 
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  align-self:center; 
}

.weather-container {
  border-radius: 10px;
}
.weather-div {
  background-color: var(--dark);
  color: var(--primary);
}

#temperature, #feels-like, #humidity, #wind-speed, #uv-index {
  background-color: var(--dark);
  color: var(--primary);
  border-radius: var(--border-radius); 
  box-shadow: 6px 5px var(--light-dark);
  margin: 10px; 
  padding: 10px;
  font-size: 30px; 
}

/* SEARCH BOX */
.card {
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  margin-bottom: 10px; 
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  text-align: center; 
  font-size: 30px;
}

/* SEARCH FORM */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
  align-self: center;
}

/* SEARCH HISTORY TERMS */
.search-history-term {
  background-color: var(--tertiary);
  border-radius: var(--border-radius);
  border: none; 
  box-shadow: 6px 5px var(--secondary);
  color: var(--light-dark);  
  padding: 10px; 
  margin: 10px; 
  text-align: center;
}
.search-history-term:hover {
  background-color: var(--dark);
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  color: var(--primary);  
  cursor: pointer; 
}

/* 5 DAY FORECAST */ 
.forecast {
  background-color: var(--light-dark);
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--dark);
  color: var(--secondary);
  padding: 1px; 
  text-align: center;  
  margin: 12px; 
}


  

  
  
  